@model List<ufeEndeks>

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Endeks Oranı</th>
                <th>Dolar Kuru</th>
                <th>Tarih</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var endeks in Model)
            {
                <tr>
                    <td>@endeks.Id</td>
                    <td>@endeks.Deger</td>
                    <td><span style="position:relative;">₺&nbsp;</span>@endeks.DolarKuru</td>
                    <td>@endeks.Tarih.ToString("MMMM yyyy")</td>
                    <td>
                        <form method="get" asp-controller="ufeEndeks" asp-action="Update">
                            <button name="id" value="@endeks.Id" type="submit" class="btn btn-success" style="width : 125px;">Güncelle</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-controller="ufeEndeks" asp-action="Delete">
                            <button name="id" value="@endeks.Id" type="submit" class="btn btn-danger" style="width : 125px;">Sil</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>